
html, body {
    margin:0;
    padding:0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family:sans-serif;

}
body.loaded {
    overflow-y: auto;
}
div.goBtnCentre {width:100%; clear:both; height: 80px; margin:20px 0;}
	div.goButton {height: 80px; background: #E7534A;border: 1px solid #CE2117;width:200px; margin:0 auto;}
		div.goButton h2 {text-align: center;font-size: 25px;color: white;font-weight: normal;line-height: 80px;cursor: pointer;}
			div.goButton h2 a {color: white;}


.overlay {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: #1c1c1c;
    overflow: hidden;
    z-index: 100000;
    transition: 0.6s cubic-bezier(0.77, 0, 0.18, 1);
    -webkit-transition: 0.6s cubic-bezier(0.77, 0, 0.18, 1);
}
.overlay.loaded {
    height: 0;
}
.overlay p {
    padding-bottom: 50px;
    color: #ccc;
    font-weight: 600;
    letter-spacing: 3px;
}

@media only screen and (max-width: 768px) {
/*    For Phones*/
    
}

@media only screen and (min-width: 768px) { 
/*   For desktop*/

    
}



.bar {
        width: 100%;
        text-align: center;
        padding: 9px;
        margin: auto;
        
    }

li {
        letter-spacing: 10px;
        text-align: center;
        border-width: 2px;
        z-index: 1;
    }

ul {
  padding: 0;
  list-style: none;       display: flex;       justify-content: space-around;


}



.header {
    overflow: hidden;
    display: flex;

}
.header .about {
    padding: 20vw;
    padding-top: 10vw;
    padding-bottom: 0;
    margin:auto;
    animation-name: textin;
    animation-duration: 1.4s;
    font-family:'arial'; 'sans-serif';
    text-align: left;

}

@keyframes textin {
0%   {opacity:0}
100% {opacity:1;}
}
.q_cont {
    bottom: 0;width: 100vw; display: inline-block;
}
.q {
position: absolute;
  animation: fall ease-in-out 2s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; 
}


/*
.q {
    margin:0;
    padding:0;
    -webkit-animation-name: fall;
    -webkit-animation-duration: 1.4s;
    animation-name: fall;
    animation-duration: 1.4s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

*/

.q1{
    transform:  translate(550%,-40%)  rotate(55deg);

}

.q2{
    transform:  translate(0%,0%)  rotate(46deg);

}

.q2 img{
 width: 10%;
}

.q3{
    transform:  translate(0%,40%) rotate(-10deg);   

}
.q3 img{
    width: 40%;
}
.q4{
   transform:  translate(-40%,540%) rotate(140deg);   

}
.q4 img{
    width:10%
}

.q5{
    transform:  translate(50%,10%)rotate(-15deg); 

}
.q5 img{
    width:50%
}

.q6{
   transform:  translate(300%,100%)rotate(55deg); 

}
.q6 img{
    width:18%
}

.q7{
  transform:  translate(600%,10%) rotate(-36deg);   

}
.q7 img{
    width:25%;
}

.q8{
transform:  translate(500%,10%) rotate(87deg);
}
.q8 img{
    width:43%
}
.q9{
transform:  translate(400%,20%) rotate(143deg);

}
.q9 img{
    width:47%
}
.q10{
transform:  translate(500%,20%) rotate(300deg);

}
.q10 img{
    width:23%
}
.q11{
transform:  translate(600%,90%)rotate(290deg);

}
.q11 img{
    width:10%
}

.q12{
transform:  translate(70%,290%)rotate(100deg);

}
.q12 img{
    width:10%
}
.q13{
transform:  translate(89%,31%)rotate(10deg);

    
}
.q13 img{
    width:21%
}
iframe {
    height: 100vw;
    width: 100vw;
    border: none;
    bottom: 0;
    position: fixed;
}



@keyframes fall {
0%   {bottom:0%;}
100% {bottom:'';}
}


/*
.header .darken {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}
.header .darken p {
    font-family:'arial'; 'sans-serif';
    text-align: left;
    padding-top: 10px;
    z-index: 600;
}
.header .about{
    z-index: 600;
top:450px;
    position: relative;
    text-align: left;
    width: 800px;
    animation-name: textin;
    animation-duration: 1.4s;
} 
*/
.video {
    top:-900px ;
    position: relative;
    display: none;

}
